@import "reset";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


body {
  background: rgb(121, 150, 200, 0.8);
  label {
    color: white;
  }
  button {
    background-color: brown;
    color: white;
    border: 1px solid white;
  }
  button:hover {
    background-color: green;
    color: white;
    border: 1px solid white;
  }
}
