@import "reset";


body {
  background: rgb(121, 31, 9, 0.8);
  label {
    color: white;
  }
  button {
    background-color: brown;
    color: white;
    border: 1px solid white;
  }
  button:hover {
    background-color: green;
    color: white;
    border: 1px solid white;
  }
}
